html {
    background-color: #284678;
}

.main-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2% auto;
    padding: .25% 0;
    box-sizing: border-box;
    height: 97vh;
    width: 95vw;
    max-height: 900px;
    max-width: 600px;
    background-color: #EFF0F0;
}

.standard-element {
    flex-grow: 1;
    margin: .5% auto;
    width: 98%;
    background-color: #000;
}

.biggest-element {
    margin: .5% auto;
    width: 98%;
    flex-grow: 4;
}

.graphic {
    background: url("img/grass.png") repeat-x center bottom,
    url("img/hangmancrop8.png") no-repeat left bottom,
    url("img/tree.png") no-repeat right bottom,
    linear-gradient(rgb(133, 164, 204) 0, rgb(208, 229, 242) 100%);
    background-size: 80%, 45%, 50%;
}

.big-element {
    flex-grow: 3;
}

.image-box {
    width: 80px;
    height: 100px;
}