html {
    background-color: #284678;
}

.main-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2% auto;
    padding: .25% 0;
    height: 97vh;
    width: 95vw;
    max-height: 900px;
    max-width: 600px;
    background-color: #EFF0F0;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 25px;
}

.standard-element {
    flex-grow: 1;
    margin: .5% auto;
    width: 98%;
}

.big-element {
    flex-grow: 8;
    margin: .5% auto;
    width: 98%;
    box-sizing: border-box;
    border: 10px solid black;
    border-radius: 25px;
}

.graphic {
    background: url("img/grass.png") repeat-x center bottom,
    url("img/hangmancrop8.png") no-repeat left bottom,
    url("img/tree.png") no-repeat right bottom,
    linear-gradient(rgb(133, 164, 204) 0, rgb(208, 229, 242) 100%);
    background-size: 80%, 45%, 50%;
}

.motto {
    font-size: 3rem;
}

.letters {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.letter {
    width: 5%;
    height: 2.5%;
    min-width: 20px;
    padding: 1%;
    margin: 1%;
    border: 2px solid gray;
    border-radius: 25%;
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
    font-size: 2.2rem;
    font-weight: 700;
}

.greater-width {
    transform: scale(2, 1);
}